<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <div>
            <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
            {% if invalid_username is defined %}
                <ul>
                    <li>
                        {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
                    </li>
                </ul>
            {% endif %}
            <input type="text" id="username" name="username" />
        </div>
    </div>
    <div>
        <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
